{% extends 'base.html' %}

{% block title %}WhatsApp ChatStorage Viewer | Chat list{% endblock %}

{% block content %}
  <div class="list-group">
    {% for r in records %}
    <a href="{{ url_for('main.view_chat', chat_session_id=r.Z_PK) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <p class="p-0 m-0">
        {{ r.ZPARTNERNAME }} <small class="text-muted">{{ r.ZCONTACTJID }}</small>
      </p>
      <span class="badge badge-primary badge-pill">{{ r.ZMESSAGECOUNTER }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}
